<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardChk">
	
	<sql id="search">
		<choose>
			<when test="searchGubun == 'tbl_tblName'">
				AND (tbl LIKE '%' || #{searchData} || '%' OR tblName LIKE '%' || #{searchData} || '%')
			</when>
			<when test="searchGubun != null and searchGubun != '' and searchData != null and searchData != ''">
				AND ${searchGubun} LIKE '%' || #{searchData} || '%'
			</when>
			<otherwise>
			
			</otherwise>
		</choose>
	</sql>
	
	<select id="getTotalRecord" resultType="int">
		SELECT COUNT(*) totalRecord
		  FROM boardChk
		 WHERE 1=1
		<include refid="search"></include>
	</select>
	
	<select id="getSelectAll" resultType="com.cbc.springPortfolio.boardChk.model.dto.BoardChkDTO">
		SELECT *
		  FROM (SELECT rownum rnum, basic.*
		  		  FROM (SELECT *
		  		  		  FROM boardChk
		 		 		 WHERE 1=1
						<include refid="search"></include>
	  		  		  ORDER BY boardChkNo DESC) basic
	  		   )
	  	 WHERE rnum BETWEEN #{startRecord} AND #{lastRecord}
	</select>
	
	<select id="getSelectOne" resultType="com.cbc.springPortfolio.boardChk.model.dto.BoardChkDTO">
		SELECT *
		  FROM boardChk
	  	 WHERE boardChkNo = #{boardChkNo}
	</select>
	
	<insert id="setInsert">
		INSERT INTO boardChk
			 VALUES (seq_boardChk.NEXTVAL, #{tbl}, #{tblName}, SYSDATE)
	</insert>
	
	<update id="setUpdate">
		UPDATE boardChk
		   SET tbl = #{tbl}, tblName = #{tblName}
		 WHERE boardChkNo = #{boardChkNo}
	</update>
	
	<delete id="setDelete">
		DELETE FROM boardChk
		 	  WHERE boardChkNo = #{boardChkNo}
	</delete>
	
</mapper>