<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memo">
	<select id="getSelectAll" resultType="com.cbc.springStudy.memo.model.dto.MemoDTO">
		SELECT * 
		  FROM memo 
	  ORDER BY no DESC
	</select>
	
	<select id="getSelectOne" resultType="com.cbc.springStudy.memo.model.dto.MemoDTO">
		SELECT * 
		  FROM memo 
	  	 WHERE no = #{no}
	</select>
	
	<insert id="setInsert"> <!-- parameterType="" 생략가능 -->
		INSERT INTO memo
			 VALUES (seq_memo.NEXTVAL, #{writer}, #{content}, SYSDATE)
	</insert>
	
	<update id="setUpdate">
		UPDATE memo
		   SET writer = #{writer}, content = #{content}
		 WHERE no = #{no}
	</update>
	
	<delete id="setDelete">
		DELETE FROM memo
		 	  WHERE no = #{no}
	</delete>
</mapper>